<div class="row mt-4">
    <!-- Mitad izquierda de la pantalla -->
    <div class="col-md-6 mb-3 mb-sm-0 pe-sm-0">
        <!-- Flex vertical -->
        <div class="d-flex flex-column m-5 mb-2 mt-0 row-gap-4">
            <!-- Flex horizontal -->
            <div class="friki d-flex column-gap-4 flex-lg-row row-gap-4">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold d-flex justify-content-between">
                            {{ project.projectName }}
                            <button class="btn btn-sm btn-dark"
                                (click)="copyToClipboard(project.projectId, 'projectID')">
                                @if (!isCopied['projectID']) {
                                <i class="fa-regular fa-copy pe-1"></i>
                                Copiar ID
                                }@else {
                                <i class="fa-solid fa-check pe-1"></i>
                                ID Copiado!
                                }
                            </button>
                        </h5>
                        <h6 class="form-text">Proyecto ID: {{ project.projectId }}</h6>
                        <p class="card-text">{{ project.projectDescription }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold d-flex justify-content-between">
                            Último viaje
                            <button class="btn btn-sm btn-dark ms-3" [disabled]="!lastTrip"
                                (click)="copyToClipboard(lastTrip?.tripEndKm, 'lastKms')">
                                @if (!isCopied['lastKms']) {
                                <i class="fa-regular fa-copy"></i>
                                }@else {
                                <i class="fa-solid fa-check"></i>
                                }
                            </button>
                        </h5>
                        <p class="card-text">
                            @if (lastTrip) {
                            {{ lastTrip.tripStartKm }} - {{ lastTrip.tripEndKm }} km <br>
                            Realizado por: {{ lastTrip.tripUserName }} <br>
                            El dia {{ lastTrip.tripDate | date: 'mediumDate' }}
                            }@else {
                            No hay datos de viajes
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div id="friki" class="d-flex column-gap-4 flex-lg-row flex-sm-column-reverse row-gap-4">
                <!-- Flex vertical -->
                <div class="d-flex flex-column row-gap-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Total de Kilometros Acumulados</h5>
                            <h6 class="form-text">Suma de todos los kilometros recorridos en el proyecto</h6>
                            <p class="fw-bold fs-1">{{ project.projectTotalKms }} km</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Periodo del Proyecto</h5>
                            <h6 class="form-text">Fechas de inicio y fin del proyecto</h6>
                            <p class="card-text">
                                Inicio: {{ project.projectStartDate | date: 'longDate' }} <br>
                                Fin: {{ project.projectEndDate | date: 'longDate' }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Flex vertical FIN -->
                <div class="flex-fill">
                    <h5 class="fw-bold">Introduce los kilometros</h5>
                    <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                        <!-- [ DEBUG START ]: Para testear la creación de un viaje con un usuario distinto -->
                        <div class="mb-3" [hidden]="!debugMode">
                            <label for="logUsuario" class="form-label">Usuario</label>
                            <select class="form-select" id="logUsuario" formControlName="tripUserId">
                                <option *ngFor="let user of projectUsers" [value]="user.userId">{{ user.userDisplayName
                                    }}</option>
                            </select>
                        </div>
                        <!-- [ DEBUG FINAL ] -->
                        <div class="mb-3">
                            <label for="logFecha" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="logFecha" formControlName="tripDate">
                        </div>
                        <div class="mb-3">
                            <label for="logKmIniciales" class="form-label">Kilometros Iniciales</label>
                            <input type="text" class="form-control" id="logKmIniciales" formControlName="tripStartKm"
                                [placeholder]="getLastKms()">
                        </div>
                        <div class="mb-3">
                            <label for="logKmFinales" class="form-label">Kilometros Finales</label>
                            <input type="text" class="form-control" id="logKmFinales" formControlName="tripEndKm">
                        </div>
                        <button type="submit" class="btn btn-dark">
                            Introducir
                        </button>
                    </form>
                </div>
            </div>
            <!-- Flex horizontal FIN -->
            <div class="card flex-fill">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Porcentaje de Uso</h5>
                    <h6 class="form-text">Kilometros recorridos por usuario</h6>
                    @for (user of projectUsers; track user.userId) {
                    <div class="card-text pb-2 d-flex justify-content-between"
                        [ngClass]="{ 'pb-2': $first, 'py-2': !$first }">
                        <span>{{ user.userDisplayName }}</span>
                        <span>{{ calculateUsage(user) }}%</span>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example"
                        [attr.aria-valuenow]="calculateUsage(user)" aria-valuemin="0" aria-valuemax="100"
                        style="height: 5px;">
                        <div class="progress-bar bg-dark" [style.width]="calculateUsage(user) + '%'"></div>
                    </div>
                    <div class="form-text">
                        {{ user.userProject.projectKms }} km recorridos en {{ calculateUserTotalTrips(user) }} viajes
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- Flex vertical FIN -->
    </div>
    <!-- Mitad derecha de la pantalla -->
    <!-- Grafica -->
    <div class="col-md-6 ps-sm-0">
        <div class="d-flex flex-column m-5 mt-0 ms-md-0 row-gap-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Kilometros Recorridos por Día</h5>
                    <h6 class="form-text">Gráfica de líneas mostrando los kilómetros recorridos por cada usuario</h6>
                    <p-chart type="line" [data]="myData" [options]="options" class="h-[30rem]" height="340" />
                </div>
            </div>
            <div class="d-flex column-gap-4">
                <!-- <button type="button" class="btn btn-outline-dark btn-sm" (click)="exportData()">
                    Exportar datos
                </button> -->
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#exportModal">
                    Exportar datos
                </button>
                @if (currentUserRole === 'admin') {
                <button type="button" class="btn btn-danger flex-fill" data-bs-toggle="modal"
                    [disabled]="deleteSubmitting" data-bs-target="#exampleModal">
                    <span *ngIf="deleteSubmitting" class="spinner-border spinner-border-sm me-1"></span>
                    Delete Project
                </button>
                }@else {
                <button class="btn btn-dark flex-fill" [disabled]="leaveSubmitting" (click)="leaveProject()">
                    <span *ngIf="leaveSubmitting" class="spinner-border spinner-border-sm me-1"></span>
                    Leave Project
                </button>
                }
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Calculadora de Gastos</h5>
                    <h6 class="form-text">Calcula el gasto de gasolina por usuario</h6>
                    <div class="d-flex friki column-gap-4">
                        <form class="d-flex flex-column" (ngSubmit)="calculateCost()">
                            <div class="mb-3">
                                <label for="totalGasolina" class="form-label">Total de Gasolina Gastada (en €)</label>
                                <input type="number" class="form-control" id="totalGasolina" [(ngModel)]="totalGasolina"
                                    name="totalGasolina">
                            </div>
                            <button type="submit" class="btn btn-dark">Calcular</button>
                        </form>
                        <div style="border-left:1px solid #dee2e6;"></div>
                        <div id="coste-usuario" class="flex-fill">
                            @if (costPerUser) {
                            <h6 class="form-text">Coste por Usuario</h6>
                            @for (user of projectUsers; track user.userId) {
                            <div class="d-flex justify-content-between">
                                <span>{{ user.userDisplayName }}</span>
                                <span>{{ calculateUserCost(user) | currency: 'EUR' }}</span>
                            </div>
                            }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @media (max-width: 768px) {
        .friki {
            flex-direction: column;
        }

        #friki {
            flex-direction: column;
            flex-flow: column-reverse;
        }

        #coste-usuario {
            margin-top: 16px;
        }

        /* #grafica {
            display: none;
        } */
    }
</style>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5>¿Seguro que quieres borrar el proyecto?</h5>
                <p class="mb-0">Todos los usuarios miembros serán expulsados del proyecto.</p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" (click)="deleteProject()"
                    class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                    data-bs-dismiss="modal">
                    <strong>Yes, delete it</strong>
                </button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                    data-bs-dismiss="modal">
                    No thanks
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Introduce el coste total de gasolina</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <div class="mb-3">
                    <label for="totalGasolinaModal" class="form-label">Total de Gasolina Gastada (en €)</label>
                    <input type="number" class="form-control" id="totalGasolinaModal" [(ngModel)]="totalGasolina"
                        name="totalGasolinaModal">
                </div>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <button type="button" class="btn btn-lg btn-dark" (click)="exportData()" data-bs-dismiss="modal">
                    Exportar datos
                </button>
            </div>
        </div>
    </div>
</div>