<div class="row mt-4">
    <!-- Mitad izquierda de la pantalla -->
    <div class="col-md-6 mb-3 mb-sm-0 pe-sm-0">
        <!-- Flex vertical -->
        <div class="d-flex flex-column m-5 mb-2 mt-0 row-gap-4">
            <!-- Flex horizontal -->
            <div class="friki d-flex column-gap-4 flex-lg-row row-gap-4">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold d-flex justify-content-between">
                            {{ project.projectName }}
                            <button class="btn btn-sm btn-dark"
                                (click)="copyToClipboard(project.projectId, 'projectID')">
                                @if (!isCopied['projectID']) {
                                <i class="fa-regular fa-copy pe-1"></i>
                                <span class="only-desktop">
                                    Copiar ID
                                </span>
                                <span class="only-mobile">
                                    ID
                                </span>
                                }@else {
                                <i class="fa-solid fa-check pe-1"></i>
                                <span class="only-desktop">
                                    ID Copiado!
                                </span>
                                <span class="only-mobile">
                                    ID
                                </span>
                                }
                            </button>
                        </h5>
                        <h6 class="form-text">Proyecto ID: {{ project.projectId }}</h6>
                        <p class="card-text">{{ project.projectDescription }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold d-flex justify-content-between">
                            Último viaje
                            <button class="btn btn-sm btn-dark ms-3" [disabled]="!lastTrip"
                                (click)="copyToClipboard(lastTrip?.tripEndKm, 'lastKms')">
                                @if (!isCopied['lastKms']) {
                                <i class="fa-regular fa-copy pe-1"></i>
                                <span class="only-mobile">
                                    Km
                                </span>
                                }@else {
                                <i class="fa-solid fa-check pe-1"></i>
                                <span class="only-mobile">
                                    Km
                                </span>
                                }
                            </button>
                        </h5>
                        <p class="card-text">
                            @if (lastTrip) {
                            {{ lastTrip.tripStartKm }} - {{ lastTrip.tripEndKm }} km <br>
                            Realizado por: {{ lastTrip.tripUserName }} <br>
                            El dia {{ lastTrip.tripDate | date: 'mediumDate' }}
                            }@else {
                            No hay datos de viajes
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div id="friki" class="d-flex column-gap-4 flex-lg-row flex-sm-column-reverse row-gap-4">
                <!-- Flex vertical -->
                <div class="d-flex flex-column row-gap-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Total de Kilometros Acumulados</h5>
                            <h6 class="form-text">Suma de todos los kilometros recorridos en el proyecto</h6>
                            <p class="fw-bold fs-1">{{ project.projectTotalKms }} km</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Periodo del Proyecto</h5>
                            <h6 class="form-text">Fechas de inicio y fin del proyecto</h6>
                            <p class="card-text">
                                Inicio: {{ project.projectStartDate | date: 'longDate' }} <br>
                                Fin: {{ project.projectEndDate | date: 'longDate' }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Flex vertical FIN -->
                <div class="flex-fill">
                    <h5 class="fw-bold">Introduce los kilometros</h5>
                    <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                        <!-- [ DEBUG START ]: Para testear la creación de un viaje con un usuario distinto -->
                        <div class="mb-3" [hidden]="!debugMode">
                            <label for="logUsuario" class="form-label">Usuario</label>
                            <select class="form-select" id="logUsuario" formControlName="tripUserId">
                                <option *ngFor="let user of projectUsers" [value]="user.userId">{{ user.userDisplayName
                                    }}</option>
                            </select>
                        </div>
                        <!-- [ DEBUG FINAL ] -->
                        <div class="mb-3">
                            <label for="logFecha" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="logFecha" formControlName="tripDate">
                        </div>
                        <div class="mb-3">
                            <label for="logKmIniciales" class="form-label">Kilometros Iniciales</label>
                            <input type="number" class="form-control" id="logKmIniciales" formControlName="tripStartKm"
                                [placeholder]="getLastKms()">
                        </div>
                        <div class="mb-3">
                            <label for="logKmFinales" class="form-label">Kilometros Finales</label>
                            <input type="number" class="form-control" id="logKmFinales" formControlName="tripEndKm">
                        </div>
                        <button type="submit" class="btn btn-dark">
                            Introducir
                        </button>
                    </form>
                </div>
            </div>
            <!-- Flex horizontal FIN -->
            <div class="card flex-fill">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Porcentaje de Uso</h5>
                    <h6 class="form-text">Kilometros recorridos por usuario</h6>
                    @for (user of projectUsers; track user.userId) {
                    <div class="card-text pb-2 d-flex justify-content-between"
                        [ngClass]="{ 'pb-2': $first, 'py-2': !$first }">
                        <span>{{ user.userDisplayName }}</span>
                        <span>{{ calculateUsage(user) }}%</span>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example"
                        [attr.aria-valuenow]="calculateUsage(user)" aria-valuemin="0" aria-valuemax="100"
                        style="height: 5px;">
                        <div class="progress-bar bg-dark" [style.width]="calculateUsage(user) + '%'"></div>
                    </div>
                    <div class="form-text">
                        @if (user.userProject.projectKms !== 0) {
                        {{ user.userProject.projectKms }} km recorridos en
                        {{ (user.userProject.projectUserTrips | keyvalue).length }}
                        {{ (user.userProject.projectUserTrips | keyvalue).length > 1 ? 'viajes.' : 'viaje.' }}
                        <span class="only-desktop">
                            Una media de
                            {{ user.userProject.projectKms / (user.userProject.projectUserTrips | keyvalue).length |
                            number: '1.0-2'}} km/viaje.
                        </span>
                        }@else {
                        {{ user.userProject.projectKms }} km recorridos.
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- Flex vertical FIN -->
    </div>
    <!-- Mitad derecha de la pantalla -->
    <!-- Grafica -->
    <div class="col-md-6 ps-sm-0">
        <div class="d-flex flex-column m-5 mt-0 ms-md-0 row-gap-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Kilometros Recorridos por Día</h5>
                    <h6 class="form-text">Gráfica de líneas mostrando los kilómetros recorridos por cada usuario</h6>
                    <p-chart type="line" [data]="myData" [options]="options" class="h-[30rem]" height="340" />
                </div>
            </div>
            <div class="d-flex column-gap-4">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="exportData()">
                    Exportar datos
                </button>
                @if (currentUserRole === 'admin') {
                <button type="button" class="btn btn-danger flex-fill" data-bs-toggle="modal"
                    [disabled]="deleteSubmitting" data-bs-target="#exampleModal">
                    <span *ngIf="deleteSubmitting" class="spinner-border spinner-border-sm me-1"></span>
                    Delete Project
                </button>
                }@else {
                <button class="btn btn-dark flex-fill" [disabled]="leaveSubmitting" (click)="leaveProject()">
                    <span *ngIf="leaveSubmitting" class="spinner-border spinner-border-sm me-1"></span>
                    Leave Project
                </button>
                }
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Gestión de Gastos</h5>
                    <h6 class="form-text">Introduce tickets de gasolina o contrasta los gastos de cada usuario</h6>
                    <div class="row mx-0 rounded py-1 my-3" style="background-color: #f4f4f5;">
                        <!-- TODO: Un boton que lo hace todo, con animaciones -->
                        <!-- <div class="col-6 d-grid px-1">
                            <button class="btn shadow-sm" id="ticketDesktop" [style.background-color]="'#fff'"
                                style="--bs-btn-active-border-color: #ffffff00; transition: transform 0.5s ease-in-out;"
                                [ngStyle]="{ 'transform': ticketActive ? 'translateX(0)' : 'translateX(337.8px)' }"
                                (click)="!ticketActive ? ticketActive = true : ticketActive = false; calculateCost()">
                                @if (ticketActive) {
                                Introducir Ticket
                                }@else {
                                Calcular Costes
                                }
                            </button>
                        </div> -->
                        <div class="col-6 d-grid px-1">
                            <button class="btn" [class.shadow-sm]="ticketActive"
                                [style.background-color]="ticketActive? '#fff' : ''"
                                style="--bs-btn-active-border-color: #ffffff00;" (click)="ticketActive = true">
                                <span class="only-desktop">
                                    Introducir Ticket
                                </span>
                                <span class="only-mobile">
                                    Ticket
                                </span>
                            </button>
                        </div>
                        <div class="col-6 d-grid px-1">
                            <button class="btn" [class.shadow-sm]="!ticketActive"
                                [style.background-color]="!ticketActive? '#fff' : ''"
                                style="--bs-btn-active-border-color: #ffffff00;"
                                (click)="ticketActive = false; calculateCost()">
                                <span class="only-desktop">
                                    Calcular Costes
                                </span>
                                <span class="only-mobile">
                                    Costes
                                </span>
                            </button>
                        </div>
                    </div>
                    @if (ticketActive) {
                    <div class="d-flex friki column-gap-4">
                        <form class="d-flex flex-column" [formGroup]="ticketForm" (ngSubmit)="onSubmitTicket()"
                            autocomplete="off">
                            <!-- [ DEBUG START ]: Para testear la creación de un ticket con un usuario distinto -->
                            <div class="mb-3" [hidden]="!debugMode">
                                <label for="logUsuario" class="form-label">Usuario</label>
                                <select class="form-select form-select-sm" id="logUsuario"
                                    formControlName="ticketUserId">
                                    <option *ngFor="let user of projectUsers" [value]="user.userId">{{
                                        user.userDisplayName
                                        }}</option>
                                </select>
                            </div>
                            <!-- [ DEBUG FINAL ] -->
                            <div class="d-flex justify-content-between column-gap-3">
                                <div class="mb-3 flex-grow-1">
                                    <label for="logFechaTicket" class="form-label">Fecha</label>
                                    <input type="date" class="form-control form-control-sm" id="logFechaTicket"
                                        formControlName="ticketDate">
                                </div>
                                <div class="mb-3 flex-grow-1">
                                    <label for="logValorTicket" class="form-label">Ticket (€)</label>
                                    <input type="number" class="form-control form-control-sm" id="logValorTicket"
                                        formControlName="ticketValue">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Introducir</button>
                        </form>
                        <div class="only-desktop" style="border-left:1px solid #dee2e6;"></div>
                        <div id="coste-usuario" class="flex-fill">
                            <h6 class="form-text">Tickets por Usuario</h6>
                            @for (user of projectUsers; track user.userId) {
                            <div class="d-flex justify-content-between">
                                <span>{{ user.userDisplayName }}</span>
                                <span>
                                    {{ user.userProject.projectPayment | currency: 'EUR' }}
                                    ({{ (user.userProject.projectUserTickets ?? {} | keyvalue).length }}
                                    {{ (user.userProject.projectUserTickets ?? {} | keyvalue).length === 1 ? 'ticket' :
                                    'tickets' }})
                                </span>
                            </div>
                            }
                        </div>
                    </div>
                    }@else {
                    <div class="d-flex friki column-gap-4 table-responsive">
                        <table class="table table-hover table-bordered table-sm text-center mb-0 pb-0">
                            <caption class="text-end mb-0 pb-0" style="font-size: 0.8rem;">
                                Resultados <span class="text-success">POSITIVOS</span> implican que el usuario ha
                                pagado <span class="text-success">MÁS</span> de lo que le corresponde. <br> Resultados
                                <span class="text-danger">NEGATIVOS</span> implican que el usuario ha pagado
                                <span class="text-danger">MENOS</span> de lo que le corresponde.
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Ha pagado</th>
                                    <th scope="col">Debe pagar</th>
                                    <th scope="col">Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (user of projectUsers; track user.userId) {
                                <tr>
                                    <th scope="row" class="text-center">{{ user.userDisplayName }}</th>
                                    <td>{{ user.userProject.projectPayment | currency: 'EUR' }}</td>
                                    <td>{{ calculateUserCost(user) | currency: 'EUR' }}</td>
                                    @if (user.userProject.projectPayment - calculateUserCost(user) > 0) {
                                    <td class="text-success">+
                                        {{ user.userProject.projectPayment - calculateUserCost(user) | currency:
                                        'EUR'
                                        }}</td>
                                    }@else if (user.userProject.projectPayment - calculateUserCost(user) < 0) { <td
                                        class="text-danger">-
                                        {{ calculateUserCost(user) - user.userProject.projectPayment | currency:
                                        'EUR'
                                        }}</td>
                                        }@else {
                                        <td class="text-success">0</td>
                                        }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    th {
        background-color: #f4f4f5;
    }

    .only-mobile {
        display: none;
    }

    @media (max-width: 992px) {
        .friki {
            flex-direction: column;
        }
        
        #coste-usuario {
            margin-top: 16px;
        }
    }
    @media (max-width: 768px) {
        .only-desktop {
            display: none;
        }

        .only-mobile {
            display: inline-block;
        }

        #friki {
            flex-direction: column;
            flex-flow: column-reverse;
        }

        /* #grafica {
            display: none;
        } */
    }
</style>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5>¿Seguro que quieres borrar el proyecto?</h5>
                <p class="mb-0">Todos los usuarios miembros serán expulsados del proyecto.</p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" (click)="deleteProject()"
                    class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                    data-bs-dismiss="modal">
                    <strong>Yes, delete it</strong>
                </button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                    data-bs-dismiss="modal">
                    No thanks
                </button>
            </div>
        </div>
    </div>
</div>