@if (userProject === undefined) {
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}@else if (userProject === null) {
<div class="d-grid gap-2 col-xl-4 col-lg-6 col-md-8 mx-auto pt-5 px-3">
    <div class="accordion shadow-sm" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Join Existing Project
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="joinForm" (ngSubmit)="onSubmitJoin()" autocomplete="off">
                        <div class="mb-3">
                            <label for="logId" class="form-label">Project ID</label>
                            <input type="text" class="form-control" id="logId" formControlName="projectId"
                                aria-describedby="logIdHelp">
                            <div id="logIdHelp" class="form-text">Enter the ID of the project you want to join.</div>
                        </div>
                        <div class="mb-3">
                            <label for="logJoinPassword" class="form-label">Project Password</label>
                            <input type="password" class="form-control" id="logJoinPassword"
                                formControlName="projectPassword" aria-describedby="logPasswordHelp">
                            <div id="logPasswordHelp" class="form-text">Enter the password of the project you want to
                                join.
                            </div>
                        </div>
                        <button type="submit" [disabled]="submitting" class="btn btn-dark">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Join Project
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Create New Project
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="createForm" (ngSubmit)="onSubmitCreate()" autocomplete="off">
                        <div class="mb-3">
                            <label for="logName" class="form-label">Project Name</label>
                            <input type="text" class="form-control" id="logName" formControlName="projectName">
                        </div>
                        <div class="mb-3">
                            <label for="logCreatePassword" class="form-label">Project Password</label>
                            <input type="password" class="form-control" id="logCreatePassword"
                                formControlName="projectPassword">
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="logStartDate" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="logStartDate"
                                    formControlName="projectStartDate">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="logEndDate" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="logEndDate"
                                    formControlName="projectEndDate">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="logDescription" class="form-label">Project Description <span
                                    class="form-text">(Optional)</span>
                            </label>
                            <textarea class="form-control" id="logDescription" rows="3"
                                formControlName="projectDescription"></textarea>
                        </div>
                        <button type="submit" [disabled]="submitting" class="btn btn-dark">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Create Project
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}@else {
<app-view-project [project]="userProject" (hasProject)="userProject = $event"></app-view-project>
}

<style>
    .accordion {
        --bs-accordion-btn-color: var(--bs-light);
        --bs-accordion-btn-bg: var(--bs-secondary-color);
        --bs-accordion-active-color: var(--bs-light);
        --bs-accordion-active-bg: var(--bs-dark);
    }

    /* Change the color of the collapsed arrow */
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
        transition: all 0.5s;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    }
</style>