<div class="app-container">
  <!-- main nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid px-4">
      <!-- Home -->
      <a routerLink="/" routerLinkActive="active" class="navbar-brand">
        <i class="fa-solid fa-location-dot">
          <span class="px-3">Mileage Tracker</span>
        </i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mileage Tracker</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="navbar-nav justify-content-end flex-grow-1">
            <!-- Home -->
            <a routerLink="/" routerLinkActive="active" class="nav-item nav-link px-3">
              Home
            </a>
            <!-- Proyectos -->
            <a routerLink="/projects" routerLinkActive="active" class="nav-item nav-link px-3"
              [class.disabled]="!authService.isAuthenticated()">
              Proyecto
            </a>
            <hr>
            @if (authService.isAuthenticated()) {
            <div class="dropdown d-flex align-items-center ps-3">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img [src]="getUserPhoto()" alt="" width="28" height="28" class="rounded-circle me-2">
                <strong>{{ getUserName() }}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" (click)="logOut()" role="button">Sign out</a></li>
              </ul>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- main router outlet -->
  <router-outlet></router-outlet>

  <!-- global alert -->
  <alert></alert>

</div>

<!-- app.component.html -->

<style>
  .alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1060;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }

  .custom-alert {
    width: 100%;
  }
</style>